/* RESET */

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

ul[class],
ol[class]{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
    list-style: none;
}
  
img {
    max-width: 100%;
    display: block;
}
  
input,
button,
textarea,
select {
    font: inherit;
}

a[class]{
    text-decoration: none;
}

body{
    min-height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }

.btn__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
    
.btn {
    border: 1px solid rgb(241, 154, 23);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
    cursor: pointer;
    margin: 20px;
}